{% extends "base_and_header.html" %}
{% load static %}
{% block content %}
  <style>
      .form-signin .top {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
      }

      .form-signin .middle {
          margin-bottom: -1px;
          border-radius: 0;
      }

      .form-signin .bottom {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type="number"] {
          -moz-appearance: textfield;
          /* Firefox */
      }

      .error-message {
          color: red;
      }

      .autocomplete-container {
          margin-bottom: -1px;
          border-radius: 0;
      }

      .input-container {
          display: flex;
          position: relative;
      }

      .input-container input {
          flex: 1;
          outline: none;

          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 10px;
          padding-right: 31px;
          font-size: 16px;
      }

      .autocomplete-items {
          position: absolute;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
          border-top: none;
          background-color: #fff;

          z-index: 99;
          top: calc(100% + 2px);
          left: 0;
          right: 0;
      }

      .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
      }

      .autocomplete-items div:hover {
          /*when hovering an item:*/
          background-color: rgba(0, 0, 0, 0.1);
      }

      .autocomplete-items .autocomplete-active {
          /*when navigating through the items using the arrow keys:*/
          background-color: rgba(0, 0, 0, 0.1);
      }

      .clear-button {
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;

          position: absolute;
          right: 5px;
          top: 0;

          height: 100%;
          display: none;
          align-items: center;
      }

      .clear-button.visible {
          display: flex;
      }

      .clear-button:hover {
          color: rgba(0, 0, 0, 0.6);
      }
  </style>
  <main class="form-signin d-flex justify-content-center align-items-center w-100 mt-4">
    <div class="row">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          {% if mode == "signUp" %}<h3 class="mb-4">Creating a new account for Staff.</h3>{% endif %}
          {% if mode == "edit" %}<h3 class="mb-4">Editing {{ fullname }}.</h3>{% endif %}
          <h4>Please select Role type.</h4>
          <div class="row mb-4">
            <div class="btn-group" role="group" aria-label="User type">
              <input type="radio"
                     class="btn-check"
                     name="userTypeOptions"
                     value="doctor"
                     id="option1"
                     autocomplete="off"
                     checked
                     {% if userTypeOptions == "doctor" %}checked{% endif %} />
              <label class="btn btn-main border-0" for="option1">Doctor</label>
              <input type="radio"
                     class="btn-check"
                     name="userTypeOptions"
                     id="option2"
                     value="nurse"
                     {% if userTypeOptions == "nurse" %}checked{% endif %}
                     autocomplete="off" />
              <label class="btn btn-main border-0" for="option2">Nurse</label>
              <input type="radio"
                     class="btn-check"
                     name="userTypeOptions"
                     value="admin"
                     id="option3"
                     autocomplete="off"
                     {% if userTypeOptions == "admin" %}checked{% endif %} />
              <label class="btn btn-main border-0" for="option3">Admin</label>
            </div>
          </div>
          <h4>Please select Shift type.</h4>
          <div class="row mb-4">
            <div class="btn-group" role="group" aria-label="User type">
              <input type="radio"
                     class="btn-check"
                     name="hourTypeOptions"
                     value="full"
                     id="option4"
                     autocomplete="off"
                     {% if hourTypeOptions == "full" %}checked{% endif %}
                     checked />
              <label class="btn btn-main border-0" for="option4">Full Time</label>
              <input type="radio"
                     class="btn-check"
                     name="hourTypeOptions"
                     id="option5"
                     value="part"
                     autocomplete="off"
                     {% if hourTypeOptions == "part" %}checked{% endif %} />
              <label class="btn btn-main border-0" for="option5">Part Time</label>
            </div>
          </div>
          <h4>Please select Days Availability.</h4>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="checkbox"
                   id="inlineCheckbox1"
                   name="mon"
                   value="1"
                   {% if mon %}checked{% endif %} />
            <label class="form-check-label" for="inlineCheckbox1">Mon</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="checkbox"
                   id="inlineCheckbox2"
                   name="tue"
                   value="1"
                   {% if tue %}checked{% endif %} />
            <label class="form-check-label" for="inlineCheckbox2">Tue</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="checkbox"
                   id="inlineCheckbox3"
                   name="wed"
                   value="1"
                   {% if wed %}checked{% endif %} />
            <label class="form-check-label" for="inlineCheckbox3">Wed</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="checkbox"
                   id="inlineCheckbox4"
                   name="thu"
                   value="1"
                   {% if thu %}checked{% endif %} />
            <label class="form-check-label" for="inlineCheckbox4">Thu</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="checkbox"
                   id="inlineCheckbox5"
                   name="fri"
                   value="1"
                   {% if fri %}checked{% endif %} />
            <label class="form-check-label" for="inlineCheckbox5">Fri</label>
          </div>
          <div class="mb-4" aria-label="Personal details">
            <h4>Please enter personal details.</h4>
            <div class="form-floating">
              <input type="text"
                     class="form-control top {% if 'name_invalid' in errors %}is-invalid{% endif %}"
                     name="fullname"
                     id="floatingInput"
                     placeholder="Full name"
                     value="{{ fullname }}"
                     required />
              <label for="fullname">Full name</label>
              <div class="invalid-feedback">Please enter a valid name.</div>
            </div>
            <div class="form-floating">
              <select class="form-control middle" id="gender"  name="gender" required>
                <option>Select Gender</option>
                <option value="m" {% if gender == 'm' %}selected{% endif %}>Male</option>
                <option value="f" {% if gender == 'f' %}selected{% endif %}>Female</option>
              </select>
              <label for="gender">Gender</label>
            </div>
            <div class="autocomplete-container" id="autocomplete-container"></div>
            {% comment %} <div class="form-floating">
              <input type="text" class="form-control middle {% if 'postcode_invalid' in errors %}is-invalid{% endif %}" name="postcode" id="postcode" placeholder="Postcode" value="{{ postcode }}" required />
              <label for="postcode">Postcode</label>
              <div class="invalid-feedback">Please enter a valid postcode.</div>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control middle {% if 'address_invalid' in errors %}is-invalid{% endif %}" name="address" id="address" placeholder="Address" value="{{ address }}" required />
              <label for="address">Address</label>
              <div class="invalid-feedback">Please enter a valid address.</div>
            </div> {% endcomment %}
            <div class="form-floating">
              <input type="date"
                     class="form-control middle {% if 'date_invalid' in errors %} is-invalid {% endif %}"
                     name="dob"
                     id="dob"
                     value="{{ dob }}"
                     placeholder="Date of Birth"
                     required />
              <label for="dob">Date of Birth</label>
              <div class="invalid-feedback">Date of Birth can not be in the future.</div>
            </div>
            <div class="form-floating">
              <input type="number"
                     class="form-control middle {% if 'phone_invalid' in errors %}is-invalid{% endif %}"
                     name="telnum"
                     id="telnum"
                     placeholder="Phone Number"
                     value="{{ phnumber }}"
                     required />
              <label for="telnum">Telephone Number</label>
              <div class="invalid-feedback">Please enter a valid phone number. Must be 11 digits long.</div>
            </div>
            <div class="form-floating">
              <input type="email"
                     class="form-control bottom {% if 'email_invalid' in errors %}is-invalid{% endif %}"
                     name="email"
                     id="floatingEmail"
                     placeholder="Email"
                     value="{{ email }}"
                     required />
              <label for="floatingEmail">Email</label>
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
          </div>
          <div class="mb-4" aria-label="Login details">
            <h4>Please enter Login details.</h4>
            <div class="form-floating">
              <input type="text"
                     class="form-control top {% if 'username_invalid' in errors or  'username_unique' in errors %}is-invalid{% endif %}"
                     name="username"
                     id="floatingUsername"
                     placeholder="Username"
                     value="{{ username }}"
                     autocomplete="off"
                     required />
              <label for="floatingUsername">Username</label>
              {% if 'username_invalid' in errors %}
                <div class="invalid-feedback">
                  Please enter a valid username. Must be at least 3 characters long and only contain letters and numbers.
                </div>
              {% endif %}
              {% if 'username_unique' in errors %}
                <div class="invalid-feedback">Username is already taken. Try again.</div>
              {% endif %}
            </div>
            {% if mode == "edit" %}<p class="mb-2">Only enter a new password if it needs to be changed.</p>{% endif %}
            <div class="form-floating">
              <input type="password"
                     class="form-control middle {% if 'password_invalid' in errors %}is-invalid{% endif %}"
                     name="password"
                     id="floatingPassword"
                     placeholder="Password"
                     autocomplete="off"
                     {% if mode != "edit" %}required{% endif %} />
              <label for="floatingPassword">Enter new Password</label>
              <div class="invalid-feedback">
                Please enter a valid password.
                <ul>
                  <li>Must be at least 8 characters long</li>
                  <li>Must contain at least one uppercase and lowercase letter</li>
                  <li>Must contain at least one number</li>
                  <li>Must contain at least one special character</li>
                </ul>
              </div>
            </div>
            <div class="form-floating">
              <input type="password"
                     class="form-control bottom {% if 'password_mismatch' in errors %}is-invalid{% endif %}"
                     name="passwordConfirm"
                     id="floatingPasswordConfirm"
                     placeholder="Confirm Password"
                     autocomplete="off"
                     {% if mode != "edit" %}required{% endif %} />
              <label for="floatingPasswordConfirm">Confirm new Password</label>
              <div class="invalid-feedback">Passwords must match.</div>
            </div>
          </div>
          <div class="d-flex justify-content-between  mb-4">
            <button type="button" class="btn btn-main btn-lg" onclick="navigateToUrl('{% url 'staffDetail' %}')">Back</button>
            <input type="hidden" name="postcode" id="hiddenPostcode" />
            <input type="hidden" name="address" id="hiddenAddress" />
            <button type="submit" class="btn btn-main btn-lg">Save</button>
          </div>
        </form>
        
      </div>
    </div>
  </main>
  {% include "address_validation.html" %}
{% endblock %}
