{% extends "base_and_header.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <style>
        table,
        label.btn,
        button {
            font-size: large !important;
        }

        .main-wrapper {
            flex-direction: column;
        }

        .btn-table-cell {
            width: 100%;
        }

        td:first-child,
        th:first-child {
            text-align: end;
        }

        th {
            width: 50%;
        }
    </style>
    <main>
        <div class="container">
            <h1>Invoice #{{ prescription_invoice.0.prescription_assignment_id }} details.</h1>
            <div class="table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Information</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in prescription_invoice %}
                            <tr>
                                <td>Patient Name</td>
                                <td>{{ invoice.patient_name }}</td>
                            </tr>
                            <tr>
                                <td>Prescription Name</td>
                                <td>{{ invoice.prescription_name|title }}</td>
                            </tr>
                            <tr>
                                <td>Prescription Type</td>
                                <td>{{ invoice.prescription_type|capfirst }}</td>
                            </tr>
                            <tr>
                                <td>Issue Date</td>
                                <td>{{ invoice.issued_date }}</td>
                            </tr>
                            <tr>
                                <td>Issued By</td>
                                <td>{{ invoice.staff_name }}</td>
                            </tr>
                            <tr>
                                <td>Quantity</td>
                                <td>{{ invoice.quantity }}</td>
                            </tr>
                            <tr>
                                <td>Collection Status</td>
                                <td>{{ invoice.collection_status|capfirst }}</td>
                            </tr>
                            <tr>
                                <td>Payment Status</td>
                                <td>{{ invoice.prescription_payment_status }}</td>
                            </tr>
                            <tr>
                                <td>Prescription Cost</td>
                                <td>{{ invoice.prescription_cost|add_currency_symbol }}</td>
                            </tr>
                            <tr>
                                <td>Payment Source</td>
                                <td>{{ invoice.payment_source }}</td>
                            </tr>
                            <tr>
                                <td>Reference ID</td>
                                <td>#{{ prescription_invoice.0.prescription_assignment_id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% block actionButtonsBlock %}<!-- Content from child templates will be inserted here -->{% endblock %}
        </div>
    </main>
{% endblock %}
