{% extends "base_and_header.html" %}
{% load static %}
{% block content %}
  <style>
      .dashboard-main {
          height: 80vh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          /* Center content vertically */
      }

      .dashboard-header {
          margin-bottom: 2rem;
          text-align: center;
      }

      .btn-container {
          display: flex;
          flex-wrap: wrap;
          /* Allow buttons to wrap to the next line if needed */
          justify-content: center;
          gap: 1rem;
          /* Add space between buttons */
          max-width: 550px;
          /* Limit width of button container */
          width: 100%;
          /* Ensure container takes full width */
      }

      .btn-max-width {
          width: 100%;
          /* Ensure buttons take full width of container */
      }

      @keyframes pulse {
          0% {
              transform: scale(1);
          }

          50% {
              transform: scale(1.2);
              /* Expand */
          }

          100% {
              transform: scale(1);
          }
      }

      .pulse-animation {
          animation: pulse 1.5s infinite;
          /* Adjust animation duration as needed */
      }

      .pulse-animation.translate-middle {
          transform: translate(-50%, -50%) !important;
      }
  </style>
  <div class="container dashboard-main col-12">
    <div class="dashboard-header">
      <h2>Hi, Dr. {{ user_data.name }}.</h2>
      {% if new_prescriptions_status %}<h2>There are prescriptions awaiting approval.</h2>{% endif %}
    </div>
    <div class="btn-container">
      <button class="btn btn-main btn-lg btn-max-width"
              type="button"
              onclick="navigateToUrl('{% url 'doctor_nurse_appointments:appointments_list' %}')">
        <i class="bi bi-person-lines-fill"></i>
        View Appointments
      </button>
      <button class="btn btn-main btn-lg btn-max-width"
              type="button"
              onclick="navigateToUrl('{% url 'doctor_nurse_prescriptions' %}')">
        <i class="bi bi-capsule"></i>
        View Prescriptions
        {% if new_prescriptions_status %}
          <span class="position-absolute p-2 bg-danger border border-light rounded-circle pulse-animation pulse-animation">
            <span class="visually-hidden">New prescriptions</span>
          </span>
        {% endif %}
      </button>
      <button class="btn btn-main btn-lg btn-max-width"
              type="button"
              onclick="navigateToUrl('{% url 'index' %}')">
        <i class="bi bi-gear-fill"></i> Account Settings
      </button>
      <button class="btn btn-main btn-lg btn-max-width"
              type="button"
              onclick="navigateToUrl('{% url 'login_page' %}')">
        <i class="bi bi-box-arrow-left"></i> Logout
      </button>
    </div>
  </div>
  {{ redirect_to_login_immediately }}
{% endblock %}
